#header .header-main-inner .col-xs-8 {
    width: 100%;
}

#header .header-main-inner .col-xs-4 {
    width: 0;
}

#header h1.logo {
    text-align: center;
    margin-bottom: 15px;
}

#block-search-form {
    position: absolute;
    top: -48px;
    right: 76px;
    height: 46px;
    overflow: hidden;
}