/* Simple Ads */
.adslist {
  display: flex;
  justify-content: center;
}
/* assumes region-header-right is just for ads */
.region-header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 92px;

  .block-simpleads {
    margin-bottom: 0;
  }
}