/* Simple Ads */
.adslist {
  display: flex;
  justify-content: center;
}
/* assumes header-right is just for ads */
#header {
  #header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 92px;
  }
}