.field-label {
  margin: 0;
}
.field-type-taxonomy-term-reference{
   float: left;
   .field-items .field-item{
     display: inline-block;
     float: left;
   }
 }

.field-name-field-pull-quote {
  width: 45%;
  font-size: 18px;
  float: right;
  padding: 19px 0 0 50px;
  color: #000;
  font-weight: 700;
}

/* article fields formatting */
.node-article {
  .post-content {
    .field-name-field-subhead {
      margin-bottom: 0.6em;
      color: $black;
    }
    .field-name-field-photo-credit {
      float: right;
      font-style: italic;
      font-size: 12px;
    }
    .field-name-field-image.single-image {
      margin-bottom: 1em;
    }
    .field-name-field-kicker {
      font-size: 13px;
      font-style: italic;
      border-top: 1px solid $gray-lighter;
      color: $gray-lighter;
      margin-top: 1em;
    }
    .post-meta-tag {
      font-size: 12px;
    }
  }
}
