.field-label {
  margin: 0;
}
.field-type-taxonomy-term-reference{
   float: left;
   .field-items .field-item{
     display: inline-block;
     float: left;
   }
 }

.field-name-field-pull-quote {
  width: 45%;
  font-size: 18px;
  float: right;
  padding: 19px 0 0 50px;
  color: #000;
  font-weight: 700;
}
