.poll{
	.title{
		margin-bottom: 15px;
		font-weight: 400!important;
		font-size: 15px;
		color: $black;
	}
	.text{
		font-weight: 400;
		color: #333333;
	}
	.bar .foreground{
		background: $theme-color;
	}
}

.block-poll{
	ul.links{
		overflow: hidden;
		padding: 15px 0 0;
		li{
			display: inline-block;
			margin-right: 20px;
			a{
				padding-right: 10px;
				position: relative;
				@include transition(all 0.35s);
				&:after{
					content: "\f105";
					position: absolute;
					top: -1px;
					right: 0;
					font-family: "FontAwesome";
				}
				&:hover{
					padding-right: 15px;
				}
			}
			&:last-child{
				margin: 0;
			}
		}
	}
	.title {
		font-size: 14px;
		line-height: 1.4;
	}
	.text {
		color: $text-color;
	}
	.text, .percent, .total, .links{
		font-weight: normal;
		font-size: 12px;
	}
	.bar {
		width: 75%;
		float: left;
	}
	.vote-form {
		text-align: inherit;
	}
	.form-type-radio {
		input[type="radio"] {
			margin: 0 3px 2px 0;
		}
		label {
			font-size: 12px;
		}
	}
}