@media screen and (max-width: $screen-md-max) {
  #block-views-business-directory-block .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 435px;
  }
}

@media screen and (max-width: $screen-sm-max) {
  #block-views-business-directory-block .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 648px;
  }

  #topbar {
    .block-simpleads {
      margin-top: 0;
    }
  }

  header {
    .header-main {
      margin-bottom: 5vh;
      /* move ad under logo */
      .col-xs-8, .col-xs-4 {
        width: 100%;
      }
      h1.logo {
        margin-top: 0;
        margin-bottom: 0;
      }
      /*.region-header-right {
        justify-content: center;
      }*/
    }
  }

}

@media screen and (max-width: $screen-xs-max) {
  #block-views-business-directory-block .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 435px;
  }
}

@media screen and (max-width: $screen-xs) {
  #block-views-business-directory-block .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 327px;
  }
}