@media screen and (max-width: $screen-sm) {
  .header-main {
    /* move ad under logo */
    .col-xs-6 {
      width: 100%;
    }
    h1.logo {
      margin-top: 0;
      margin-bottom: 0;
    }
    .region-header-right {
      justify-content: center;
    }
  }
}