@media screen and (max-width: $screen-sm-max) {
  .header-main {
    /* move ad under logo */
    .col-xs-6 {
      width: 100%;
    }
    h1.logo {
      margin-top: 0;
      margin-bottom: 0;
    }
    .region-header-right {
      justify-content: center;
    }
  }

}

@media screen and (max-width: $screen-xs-max) {
  #block-views-business-directory-block .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 327px;
  }
}

@media screen and (max-width: $screen-xs) {
  #block-views-business-directory-block .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 327px;
  }
}