.view-list{
  ul{
    overflow: hidden;
    li.view-list-item{
      width: 100%;
      padding-bottom: 30px;
      overflow: hidden;
      margin: 0;
      .post-block{
        margin: 0;
      }
      &:last-child{
        padding-bottom: 0;
      }
    }
  }
}

.views-view-grid{
  .views-row{
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

/* fix calendar */
.page-calendar-node-field-date {
  .content-full .content-main-inner {
    border-top: none;
  }
}

.view .date-nav-wrapper {
  .date-prev {
    right: 74px;
  }
  .date-heading {
    text-align: left;
  }
  .date-nav {
    height: 50px;
  }
}

/* pages to replace core taxonomy pages */
.not-front {
  .view-main-post {
    .node-teaser-display {
      post-content {
        width: 100%;
        padding-left: 0;
      }
    }
  }
}