[submodule "sites/all/modules/etype_zenfolio"]
	path = sites/all/modules/etype_zenfolio
	url = git@github.com:etype-services/etype_zenfolio.git
[submodule "sites/all/modules/contrib/etype_newsletters"]
	path = sites/all/modules/contrib/etype_newsletters
	url = git@github.com:etype-services/etype_newsletters.git
[submodule "sites/all/modules/contrib/etype_wire"]
	path = sites/all/modules/contrib/etype_wire
	url = https://github.com/etype-services/etype_wire.git
[submodule "sites/all/modules/contrib/etype_xml_importer"]
	path = sites/all/modules/contrib/etype_xml_importer
	url = git@github.com:etype-services/etype_xml_importer.git
[submodule "sites/all/modules/contrib/etype_zenfolio"]
	path = sites/all/modules/contrib/etype_zenfolio
	url = https://github.com/etype-services/etype_zenfolio.git
[submodule "sites/all/modules/etype_sliderad"]
	path = sites/all/modules/etype_sliderad
	url = git@github.com:etype-services/etype_sliderad.git
[submodule "sites/all/modules/etype"]
	path = sites/all/modules/etype
	url = git@github.com:etype-services/etype.git
