/* weather block in header */
#block-block-11 {
    margin-top: 17px;
}

@media screen and (max-width: 991px) {
    #block-block-11 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    #block-block-11 {
        margin-top: 27px;
    }
}

@media screen and (max-width: 480px) {
    #block-block-11 {
        margin-bottom: 17px;
    }
}

/* Logo */
#logo img {
    width: 100%;
}

/* images in articles */
.node-article .article_content .field-name-field-image {
    margin-bottom: 2em;
}

.node-article .article_content .field-name-field-image .single-image-caption {
    font-style: italic;
}

.node-article .article_content .field-name-field-subhead {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.4em;
}

.node-article .article_content .field-name-field-photo-credit {
    float: right;
    position: relative;
    top: -2em;
}