/* Custom CSS overrides */

/* Uncomment this line to hide site name into fixed navigation header*/
/* #navigation-site-name { display: none!important; } */

/* Uncomment this line to adjust the font-size & paddings of site name into fixed navigation header*/
/*.fixed-header-enabled #navigation-site-name { font-size: 18px; padding: 13px 0px 8px; }*/

.profile dd, .profile dt { display: none; }

/* change space above logo */
#header-top {
    padding-top: 32px;
}

/* reduce size of name in footer */
#footer-site-name {
    font-size: 2em;
}

/* byline and email */
.node-info .byline {
    font-size: 13px;
}

/* match tags link color */
.node-content .field-name-field-email a {
    color: #363636;
}