/* Custom CSS overrides */

/* Uncomment this line to hide site name into fixed navigation header*/
/* #navigation-site-name { display: none!important; } */

/* Uncomment this line to adjust the font-size & paddings of site name into fixed navigation header*/
/*.fixed-header-enabled #navigation-site-name { font-size: 18px; padding: 13px 0px 8px; }*/

.profile dd, .profile dt { display: none; }

/* change space above logo */
#header-top {
    padding-top: 32px;
}

/* reduce size of name in footer */
#footer-site-name {
    font-size: 2em;
}

/* byline and email */
.node-info {
    margin-bottom: 0;
}

.node-content .field-name-field-byline {
    display: inline-block;
    font-size: 11px;
    color: #7d7d7d;
    margin-right: 0.3em;
}

.node-content .field-name-field-email {
    display: inline-block;
    margin-bottom: 35px;
    font-size: 11px;
}

.node-content .field-name-field-email a {
    color: #7d7d7d;
}