/* local css overrides for lake oconee */

#header-top {
    background-color: #ffffff;
}

#block-dfp-smith-communications-mobile1,
#block-dfp-smith-communications-mobile2,
#block-dfp-smith-communications-mobile3 {
    text-align: center;
}

#block-block-20 {
    margin: 10px 0;
}

@media (max-width: 767px) {
    #block-dfp-6beba47003bc450ce577ee64f82402ef,
    #block-dfp-56c6e18bfc1ec0d944d3583e7151e383,
    #block-dfp-a2146cbba22e730cffcf56c553b06ae0,
    #logo-and-site-name-wrapper {
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 768px) {
    #block-dfp-smith-communications-mobile1,
    #block-dfp-smith-communications-mobile2,
    #block-dfp-smith-communications-mobile3,
    #block-block-20 {
        display: none;
        visibility: hidden;
    }
}
