/* Simple Ads */
.adslist {
  display: flex;
  justify-content: center;
}

.region-top-content .block-simpleads {
  padding: 0;
}

.sidebar {
  .block.block-simpleads {
    /* padding between ads */
    .simplead-container {
      padding-bottom: 20px;
    }
    /* last one with no padding -- removed for rotating ads (Freeman) */
    .adslist > div > div > div:last-child {
      padding-bottom: 0;
    }
  }
}


.region-footer-ad .block-simpleads.block {
  padding-bottom: 40px;
}

/* header with logo and ad */
#header-top {
  #header-top-inside {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }
  }
}

@media (max-width: 767px) {
  #header-top {
    #header-top-inside {
      .row {
        flex-wrap: wrap;
        #logo-and-site-name-wrapper {
          padding-bottom: 0;
        }
        .col-md-4, .col-md-8 {
          width: 100%;
        }
      }
    }
  }
}

/* Sponsor ads on article nodes */
.node-mt-post {
  .field-sponsor-ad-image {
    margin-top: 18px;
  }
  .field-sponsor-ad-image-wrapper {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 18px;
    padding-bottom: 18px;
  }
}
