/* Simple Ads */
.adslist {
  display: flex;
  justify-content: center;
}

.region-top-content .block-simpleads {
  padding: 0;
}

.sidebar {
  .block.block-simpleads {
    /* ad divs have padding between them */
    .simplead-container {
      padding-bottom: 20px;
    }
    /* last one with no padding */
    .adslist > div > div > div:last-child {
      padding-bottom: 0;
    }
  }
}


.region-footer-ad .block-simpleads.block {
  padding-bottom: 40px;
}

/* header with logo and ad */
#header-top #header-top-inside .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  #header-top {
    #header-top-inside {
      .col-md-4, .col-md-8 {
        width: 100%;
      }
    }
  }
}
