.jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 55px;
  left: -32px;
  background-position: 0 0;
}
.jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 55px;
  right: -27px;
  background-position: 0 -32px;
}
.jcarousel-skin-default .jcarousel-container-horizontal {
  height: inherit;
  padding: 20px 0;
  margin: auto;
}
@media (min-width: 992px) {
  .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 572px;
  }
  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 572px;
  }
}
@media (max-width: 991px) {
  .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 436px;
  }
  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 436px;
  }
}
@media (max-width: 767px) {
  .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 436px;
  }
  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 436px;
  }
}
@media (max-width: 480px) {
  .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 327px;
  }
  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 327px;
  }
}