.jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 63px;
  left: -32px;
  background-image: none;
}
.jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 63px;
  right: -27px;
  background-image: none;
}
.jcarousel-skin-default .jcarousel-container-horizontal {
  height: inherit;
  padding: 20px 0;
  margin: auto;
}
.jcarousel-skin-default .jcarousel-item {
  border: none;
}
@media (min-width: 1200px) {
  .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 652px;
  }
  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 652px;
  }
}
@media (max-width: 1199px) {
  .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 544px;
  }
  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 544px;
  }
}
@media (max-width: 991px) {
  .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 652px;
  }
  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 652px;
  }
}
@media (max-width: 767px) {
  .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 436px;
  }
  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 436px;
  }
}
@media (max-width: 480px) {
  .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 327px;
  }
  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 327px;
  }
}