/* Custom CSS overrides */

/* Uncomment this line to hide site name into fixed navigation header*/
/* #navigation-site-name { display: none!important; } */

/* Uncomment this line to adjust the font-size & paddings of site name into fixed navigation header*/
/*.fixed-header-enabled #navigation-site-name { font-size: 18px; padding: 13px 0px 8px; }*/

.profile dd, .profile dt {
  display: none;
}
/* change space above logo */
#header-top {
  padding-top: 32px;
}
@media (max-width: 767px) {
  #header-top {
    padding-top: 0;
  }
  #logo_hide {
    display: none;
    visibility: hidden;
  }
  #mobile_logo {
    display: block;
    visibility: visible;
  }
  .header-top-area {
    margin-top: 7px;
  }
}

@media (min-width: 768px) {
  #mobile_logo {
    display: none;
    visibility: hidden;
  }
  #logo_hide {
    display: block;
    visibility: visible;
  }
}


/* reduce size of name in footer */
#footer-site-name {
  font-size: 2em;
}
/* byline and email */
.node-info .byline {
  font-size: 13px;
  display: block;
}
.node-info .byline div {
  display: inline-block;
}
/* match tags link color */
.node-info .byline a {
  color: #363636;
}
/* kicker */
.node-type-mt-post .node-content .field-name-field-kicker {
  margin-bottom: 20px;
  font-size: 12px;
  color: #7d7d7d;
  border-top: 1px solid #7d7d7d;
  padding-top: 0.6em;
}
/* blockquote */
blockquote {
  margin: 40px 0 40px;
  overflow: visible;
}
/* search in nav bar */
#block-etype-social-search {
  padding: 0;
}
/* Contact us "Stay tuned" copy, in its own block to allow customization */
#block-block-12 {
  padding: 0;
}
/*
Adjustments for ads
 */
/* slideshow */
.front #banner #slideshow {
  margin-top: 0;
}
#footer {
  padding-top: 40px;
}
/* video thumbe do not expland on smaller screens */
@media (max-width: 991px) {
  #block-views-videos-block .views-field-field-image {
    border: none;
  }
}
/* fix calendar */
.page-calendar #page-title {
  display: none;
}
.view .date-nav-wrapper .date-prev {
  right: 75px;
}
.view .date-nav-wrapper .date-nav {
  height: 50px;
}
/* upcoming events */
#block-views-calendar-block-2 .views-row div {
  display: inline-block;
}
/* block classes */
.with-border {
  .content {
    border: 2px solid $gray;
  }
}
/* special sections */
#promoted .view-id-special_sections {
  .view-content:after {
    display: table;
    content: " ";
    clear: both;
  }
  .more-link {
    margin-top: 30px;
  }
}

/* search */
#search-block-form {
  .form-actions {
    svg {
      position: relative;
      color: white;
      left: -42px;
      font-size: 26px;
      z-index: 1;
      cursor: pointer;
    }
  }
}