#block-views-mt-breaking-block .view-titles .more-link a {
  background-color: #cf2428;
}

/* Restrict width of banner above nav */
#block-simpleads-ad-groups-25 .simplead-container img {
  max-width: 728px;
}

/* Front page spacing */
.front .view-footer p.rteright,
.front .views-field-body p {
  padding: 0;
  margin-right: 1rem;
}

.view-highlighted-objects .views-row {
  margin-bottom: 1rem;
}